$xl: 1200px
$lg: 992px
$md: 768px
$xs: 576px

/*    <NULL>    */

*
	padding: 0
	margin: 0
	border: 0
	font-family: Ubuntu, sans-serif
*, *:before,*:after
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	box-sizing: border-box
*:focus, *:active
	outline: none
a:focus, a:active
	outline: none
nav, footer, header, aside
	display: block
html, body
	font-size: 100%
	line-height: 1
	font-size: 14px
	-moz-text-size-adjust: 100%
	-webkit-text-size-adjust: none
	-webkit-overflow-scrolling: touch
html
	overflow-x: hidden
input, button, textarea
	font-family: inherit
input::-ms-clear
	display: none
button
	cursor: pointer
	background: transparent
button::-moz-focus-inner
	padding: 0
	border: 0
a, a:visited
	text-decoration: none
a:hover
	text-decoration: none
ul li
	list-style: none
img
	vertical-align: top
	max-width: 100%
h1,h2,h3,h4,h5,h6
	font-size: inherit
	font-weight: 400

/*    </NULL>    */


/*    <GLOBAL>    */

\:root
	--white: rgba(255,255,255,1)
	--black: rgba(0,0,0,1)
	--black10: rgba(0,0,0,.1)
	--black10-hex: #e6e6e6
	--black25: rgba(0,0,0,.25)
	--gray: rgba(173,173,173, 1)
	--gray2: rgba(237,237,237,1)
	--gray3: rgba(107,104,104,1)
	--orange: rgba(255,133,98,1)
	--dark-orange: rgba(255,43,0,1)


*, a
	color: var(--black)

main
	margin-top: 15px
	@media(min-width:$md)
		margin-top: 30px
	@media(min-width:$xl)
		margin-top: 25px

.fix-cont
	padding-left: 15px
	padding-right: 15px
	margin: 0 auto
	height: 100%
	width: 100%
	@media(min-width:$md)
		max-width: 708px
		padding-left: 0
		padding-right: 0
	@media(min-width:$xl)
		max-width: 1170px
		min-width: 320px

.page-title
	font-weight: 300
	font-size: 24px
	line-height: 28px
	color: var(--orange)
	margin: 15px 0
	@media(min-width:$md)
		line-height: 42px
		font-size: 30px
		margin: 20px 0 10px 0
	@media(min-width:$xl)
		line-height: 34px
		margin: 20px 0 25px 0
.section-title
	font-weight: 300
	font-size: 20px
	line-height: 23px
	@media(min-width:$md)
		font-size: 24px
		line-height: 28px
.card-title
	font-size: 16px
	line-height: 150%
	@media(min-width:$md)
		font-size: 14px
	@media(min-width:$xl)
		font-size: 16px
.sale-card-title
	font-weight: 300
	font-size: 18px
	line-height: 140%
	@media(min-width:$md)
		font-size: 24px
.plain-text
	font-weight: 300
	font-size: 16px
	line-height: 170%
	@media(min-width:$md)
		font-size: 18px
.white-text
	color: var(--white)

.link
	color: var(--orange)

.white-btn, .black-btn
	display: flex
	justify-content: center
	align-items: center
	font-size: 13px
	line-height: 14px
	padding: 16px 0
.white-btn
	color: var(--black)
	border: 1px solid var(--gray)
	background-color: var(--white)
.black-btn
	color: var(--white)
	background-color: var(--black)
	
/*    </GLOBAL>    */
