$xl: 1200px
$lg: 992px
$md: 768px
$xs: 576px

/*    <NULL>    */

*
	padding: 0
	margin: 0
	border: 0
	font-family: Ubuntu, sans-serif
*, *:before,*:after
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	box-sizing: border-box
*:focus, *:active
	outline: none
a:focus, a:active
	outline: none
nav, footer, header, aside
	display: block
html, body
	font-size: 100%
	line-height: 1
	font-size: 16px
	-moz-text-size-adjust: 100%
	-webkit-text-size-adjust: none
	-webkit-overflow-scrolling: touch
html
	overflow-x: hidden
	min-width: 320px
	max-width: 1920px
	margin-right: auto
	margin-left: auto
input, button, textarea
	font-family: inherit
input::-ms-clear
	display: none
button
	cursor: pointer
	background: transparent
button::-moz-focus-inner
	padding: 0
	border: 0
a, a:visited
	text-decoration: none
a:hover
	text-decoration: none
ul li
	list-style: none
img
	vertical-align: top
	max-width: 100%
h1,h2,h3,h4,h5,h6
	font-size: inherit
	font-weight: 400
select
	-webkit-appearance:none

/*    </NULL>    */


/*    <GLOBAL>    */

\:root
	--white: rgba(255,255,255,1)
	--white50: rgba(255,255,255,.5)
	--white60: rgba(255,255,255,.6)
	--black: rgba(0,0,0,1)
	--black10: rgba(0,0,0,.1)
	--black20: rgba(0,0,0,.2)
	--black10-hex: #e6e6e6
	--black25: rgba(0,0,0,.25)
	--black30: rgba(0,0,0,.3)
	--black40: rgba(0,0,0,.4)
	--black50: rgba(0,0,0,.5)
	--gray: rgba(173,173,173, 1)
	--gray2: rgba(237,237,237,1)
	--gray2-90: rgba(237,237,237,.9)
	--gray3: rgba(107,104,104,1)
	--gray4: rgba(242,242,242,1)
	--orange: rgba(255,43,0,1)
	--dark-orange: rgba(255,43,0,1)
	--dark-red: rgba(240,78,35,1)
	--red: rgba(240,25,31,1)
	--popup-bg: rgba(196,196,196,.3)
	--popup-shadow: rgba(0,0,0,0.2)
	--footer-links: rgba(82,82,82,1)
	--bullet: rgba(34,34,34,1)
	--input-border: rgba(228,228,228,1)
	--light-orange: rgba(240,78,35,.1)


*, a
	color: var(--black)
.editor-content
	& img
		max-width: 100% !important
		width: 100%
	& h1
		font-size: 30px
		line-height: 150%
		text-transform: uppercase
	& h2
		font-size: 24px
		line-height: 28px
	& h3
		font-size: 16px
		line-height: 18px
	& h4
		font-size: 14px
		line-height: 16px
	& h5
		font-size: 12px
		line-height: 14px
	& h6
		font-size: 10px
		line-height: 11px
	& p
		font-weight: 300
		font-size: 16px
		line-height: 25px
		margin: 10px 0
	& ul
		margin-top: 25px
		margin-bottom: 40px
	& li
		margin-bottom: 20px
		font-weight: 300
		font-size: 16px
		line-height: 170%
		position: relative
		padding-left: 15px 
		&:before
			content: ''
			width: 8px
			height: 8px
			background-color: var(--black)
			font-size: 10px
			position: absolute
			top: .7em
			left: 0
	& table
		width: 100%
		border-spacing: 0
		&:not(:last-child)
			margin-bottom: 30px
	& tr
		&.head
			background-color: var(--black)
			text-align: left
			@media(min-width:$md)
				text-align: center
			& th
				color: var(--white)
				padding-left: 80px
				text-transform: uppercase
				font-weight: 400
				@media(min-width:$md)
					padding: 7px
		&.subhead
			& td
				border-bottom: 1px solid var(--black)
		&:nth-child(2n)
			& td
				background-color: var(--gray2)
				&.pink-bg
					background-color: var(--light-orange)
	& th
		padding-top: 7px
		padding-bottom: 7px
	& td
		width: 25%
		padding: 7px
		border-bottom: 1px solid var(--gray)
		text-align: center
		&:not(:last-child)
			border-right: 1px solid var(--gray)
main
	margin-top: 15px
	@media(min-width:$md)
		margin-top: 30px
	@media(min-width:$xl)
		margin-top: 25px


.fix-cont
	padding-left: 15px
	padding-right: 15px
	margin: 0 auto
	height: 100%
	width: 100%
	& .fix-cont
		padding-left: 0
		padding-right: 0
	@media(min-width:$md)
		max-width: 708px
		padding-left: 0
		padding-right: 0
	@media(min-width:$xl)
		max-width: 1170px
		min-width: 320px
.page-props
	margin-top: 15px 0
	@media(min-width:$md)
		margin-top: 20px
	@media(min-width:$xl)
		margin-top: 20px
.page-title
	font-weight: 300
	font-size: 24px
	line-height: 28px
	color: var(--orange)
	margin-bottom: 15px
	@media(min-width:$md)
		line-height: 42px
		font-size: 30px
		margin-bottom: 10px
	@media(min-width:$xl)
		line-height: 34px
		margin-bottom: 25px
	& strong, b
		color: var(--orange)
.page-date
	font-size: 14px
	line-height: 16px
	color: var(--gray)
	margin-bottom: 15px
	display: block
.section-title
	font-weight: 300
	font-size: 20px
	line-height: 23px
	@media(min-width:$md)
		font-size: 24px
		line-height: 28px
.card-title
	font-size: 16px
	line-height: 150%
	@media(min-width:$md)
		font-size: 14px
	@media(min-width:$xl)
		font-size: 16px
.sale-card-title
	font-weight: 300
	font-size: 18px
	line-height: 140%
	@media(min-width:$md)
		font-size: 24px
.plain-text
	font-weight: 300
	font-size: 16px
	line-height: 170%
	@media(min-width:$md)
		font-size: 18px
.white-text
	color: var(--white)

.link
	color: var(--orange)

.white-btn, .black-btn, .orange-btn, .gray-btn
	display: flex
	justify-content: center
	align-items: center
	font-size: 13px
	line-height: 14px
	padding: 16px 0
.white-btn
	color: var(--black)
	border: 1px solid var(--gray)
	background-color: var(--white)
.black-btn
	color: var(--white)
	background-color: var(--black)
.orange-btn
	color: var(--white)
	background-color: var(--dark-orange)
	font-style: italic
.gray-btn
	color: var(--black60)
	background-color: var(--gray4)


.watch-more
	position: relative
	padding: 20px 0
	&:before, &:after
		content: ''
		width: 100%
		height: 1px
		background-color: var(--gray)
		position: absolute
	&:before
		top: 0
	&:after
		bottom: 0
	@media(min-width:$md)
		display: flex
		justify-content: center
	&__link
		@media(min-width:$md)
			width: 230px

.seo-text
	font-weight: 300
	font-size: 16px
	line-height: 150%
.custom-radio
	position: relative
	& input
		position: absolute
		z-index: -1
		opacity: 0
		&:checked + span
			&:before
				content: url('../img/radio__checked.svg')
	& span
		padding-left: 26px
		position: relative
		&:before
			content: url('../img/radio__null.svg')
			width: 16px
			height: 16px
			object-fit: cover
			display: flex
			justify-content: center
			align-items: center
			position: absolute
			top: calc(50% - 6px)
			left: 0

.custom-checkbox
	position: relative
	& input
		position: absolute
		z-index: -1
		opacity: 0
		&:checked + span
			&:before
				content: url('../img/checkbox__checked.svg')
	& span
		padding-left: 26px
		position: relative
		display: block
		&:before
			content: url('../img/checkbox__null.svg')
			width: 18px
			height: 18px
			object-fit: cover
			display: flex
			justify-content: center
			align-items: center
			position: absolute
			top: calc(50% - 6px)
			left: 0


.slider-btn-prev, .slider-btn-next
	position: absolute
	z-index: 10
	width: 36px
	height: 36px
	border-radius: 50%
	background-color: var(--gray2)
	display: flex
	justify-content: center
	align-items: center
.slider-btn-prev
	transform: translate(-50%,-50%)

.slider-btn-next
	transform: translate(50%,-50%)
	& img
		transform: rotate(180deg)


.slider-btn-prev2, .slider-btn-next2
	position: absolute
	z-index: 10
	width: 36px
	height: 36px
	border-radius: 50%
	display: flex
	justify-content: center
	align-items: center
.slider-btn-prev2
	transform: translate(-50%,-50%)

.slider-btn-next2
	transform: translate(50%,-50%)
	& img
		transform: rotate(180deg)


.callback-popup
	position: relative
	background-color: var(--white)
	box-shadow: 0px 0px 15px var(--popup-shadow)
	margin: 20px auto
	padding-top: 40px
	padding-bottom: 30px
	padding-left: 15px
	padding-right: 15px
	width: 290px
	@media(min-width:$md)
		width: 571px
		padding-left: 100px
		padding-right: 100px
	&__title
		font-weight: 300
		font-size: 28px
		line-height: 32px
		color: var(--orange)
		text-align: center
	&__label
		display: flex
		flex-direction: column
		margin: 20px 0
	&__label-text
		font-weight: 300
		font-size: 14px
		line-height: 150%
		display: block
		margin-bottom: 5px
	&__label-input
		padding: 0 15px
		background-color: var(--gray4)
		border: 1px solid var(--input-border)
		width: 100%
		height: 40px
	&__captcha-cont
		margin: 40px 0 30px
		display: flex
		justify-content: center
	&__submit-cont
		display: flex
		justify-content: center
	&__submit
		font-style: normal
		width: 100%
		@media(min-width:$md)
			width: 170px
	&__close
		width: 20px
		height: 20px
		position: absolute
		top: 15px
		right: 15px
		@media(min-width:$xl)
			top: 30px
			right: 30px
	&__close-icon
		width: 100%
		height: 100%
		object-fit: cover



.seo-wrapper
	margin-top: 30px
	margin-left: auto
	margin-right: auto
	width: 290px
	@media(min-width:$md)
		width: 100%
	&__title
		font-weight: 300
		font-size: 20px
		line-height: 150%
		text-align: center
		color: var(--orange)
		margin: 15px 0
	&__subtitle
		font-weight: 300
		font-size: 20px
		line-height: 150%
		text-align: center
		margin: 15px 0
		@media(min-width:$xl)
			width: 760px
			margin-left: auto
			margin-right: auto
	&__pros
		margin: 45px 0
		@media(min-width:$md)
			display: flex
			justify-content: space-between
	&__pros-li
		display: flex
		flex-direction: column
		align-items: center
		width: 100%
		margin-bottom: 20px
		@media(min-width:$md)
			width: 30%
			margin-bottom: 0
	&__pros-li-icon
		width: 60px
		height: 60px
		object-fit: contain
	&__pros-li-title
		font-size: 14px
		line-height: 150%
		margin-top: 20px
		margin-bottom: 10px
	&__pros-li-p
		font-weight: 300
		font-size: 14px
		line-height: 150%
		text-align: center
	&__p
		font-weight: 300
		font-size: 20px
		line-height: 150%
		text-align: center
		margin: 15px 0
		@media(min-width:$xl)
			width: 850px
			margin-left: auto
			margin-right: auto
	&__steps
		margin-top: 30px
		@media(min-width:$md)
			display: flex
			justify-content: space-between
	&__steps-li
		display: flex
		flex-direction: column
		align-items: center
		width: 100%
		margin-bottom: 20px
		@media(min-width:$md)
			width: 30%
			margin-bottom: 0
	&__steps-li-title
		margin-bottom: 15px
		width: 54px
		height: 54px
		display: flex
		justify-content: center
		align-items: center
		border-radius: 50%
		background-color: var(--dark-orange)
		font-weight: 500
		font-size: 20px
		line-height: 150%
		color: var(--white)
	&__steps-li-p
		font-weight: 300
		font-size: 14px
		line-height: 150%
		text-align: center
	&__underline
		text-decoration: underline

.fix-menu
	display: none
	@media(min-width: $xl)
		display: block
		position: relative
		pointer-events: none
		width: 100%
		height: 100%
		max-width: 1920px
		min-width: 320px
		margin-right: auto
		margin-left: auto
		position: fixed
		top: 0
		left: 50%
		transform: translateX(-50%)
		z-index: 20
		&__hover-box
			width: 40px
			height: 220px
			position: absolute
			pointer-events: auto
			top: 130px
			left: 0
			&:after
				content: ''
			&:before
				content: ''
			&:hover
				&:after
					content: ''
					width: 40px
					height: 100%
					position: absolute
					top: 0
					right: -30px
				&:before
					content: ''
					width: 10px
					height: 20px
					border-top: 10px solid transparent
					border-bottom: 10px solid transparent
					border-right: 10px solid var(--gray2-90)
					position: absolute
					top: 15px
					right: -16px
				& .fix-menu__list
					display: block
		&__ph
			width: 100%
			height: 100%
			object-fit: cover
		&__list
			display: none
			min-width: 220px
			width: fit-content
			background-color: var(--gray2-90)
			padding: 20px
			position: absolute
			top: 0
			left: 55px
			max-height: calc(100vh - 200px)
			overflow-y: auto
		&__link
			display: block
			white-space: nowrap
			font-weight: 300
			font-size: 14px
			line-height: 16px
			& + .fix-menu__link
				margin-top: 10px
			&:hover
				color: var(--orange)
