.header
	margin-bottom: 15px
	@media(min-width:$md)
		margin-bottom: 30px
	@media(min-width:$xl)
		margin-bottom: 25px
	&__contacts
		background-color: var(--gray2)
		@media(min-width:$xl)
			height: 60px
	&__contacts-fix-cont
		@media(min-width:$xl)
			position: relative
	&__numbers
		display: flex
		align-items: center
		justify-content: center
		padding: 10px 0
		@media(min-width:$md)
			padding: 15px 0
	&__numbers-icon
		width: 27px
		height: 27px
		object-fit: contain
		display: flex
		justify-content: center
		align-items: center
		margin-right: 15px
	&__numbers-list
		@media(min-width:$md)
			display: flex
	&__numbers-li
		@media(min-width:$md)
			&:not(:last-child)
				margin-right: 7px
	&__numbers-link
		font-weight: 300
		font-size: 12px
		line-height: 140%
		& strong
			font-weight: 400
		@media(min-width:$md)
			font-size: 14px
			line-height: 165%
		@media(min-width:$xl)
			line-height: 155%
	&__numbers-call
		display: none
		@media(min-width:$xl)
			display: flex
			width: 200px
			height: 38px
			position: absolute
			right: 0
			font-size: 11px

	&__controls
		display: flex
		justify-content: space-between
		// align-items: center
		padding-bottom: 15px
		@media(min-width:$md)
			padding-bottom: 20px
	&__controls-home-link

	&__controls-logo
		width: 50px
		height: 84px
		object-fit: cover
		@media(min-width:$xl)
			width: 400px
			height: 119px
	&__controls-list
		display: flex
		margin-top: 20px
		@media(min-width:$md)
			margin-top: 26px
		@media(min-width:$xl)
			margin-top: 60px
	&__controls-li
		width: 45px
		position: relative
		&:not(:last-child)
			margin-right: 10px
		&.open
			@media(max-width: 1199px)
				& .header__controls-tooltip
					display: block
		@media(min-width:$md)
			margin: 0
			width: 70px
			&:not(:last-child)
				margin-right: 30px
		@media(min-width:$xl)
			&:hover
				& .header__controls-tooltip
					display: block
				& img
					& path
						fill: red
	&__controls-link
		display: flex
		flex-direction: column
		align-items: center
	&__controls-icon
		width: 30px
		height: 30px
		object-fit: cover
		margin-bottom: 7px
		@media(min-width:$md)
			margin-bottom: 6px
	&__controls-name
		font-size: 10px
		line-height: 11px
		text-align: center
		margin-top: auto
		@media(min-width:$md)
			font-size: 11px
			line-height: 12.64px
			margin-top: 2px
	&__controls-tooltip
		display: none
		width: 220px
		padding: 20px
		background-color: var(--gray2)
		position: absolute
		left: 50%
		bottom: -10px
		transform: translate(-50%,100%)
		z-index: 20
		&:after
			content: ''
			width: 70px
			height: 20px
			border: 0
		&:after, &:before
			position: absolute
			left: 50%
			top: 0
			transform: translate(-50%,-100%)
		&:before
			content: ''
			width: 20px
			height: 10px
			border-style: solid
			border-width: 0 10px 10px 10px
			border-color: transparent transparent var(--gray2) transparent
		&.white
			background-color: var(--white)
			min-width: 230px
			width: max-content
			padding: 30px
			border: 1px solid var(--gray)
			&:before
				display: none
			& .header__controls-tooltip-link
				text-transform: uppercase
				font-size: 12px
				line-height: 14px
				&:hover
					color: var(--dark-orange)
			& .header__controls-tooltip-li
				&.ender
					margin-top: 30px
	&__controls-tooltip-li
		@media(max-width: 1199px)
			& + .header__controls-tooltip-li
				margin-top: 15px
		@media(min-width:$xl)
			&:not(:last-child)
				margin-bottom: 15px
	&__controls-tooltip-link
		font-weight: 300
		font-size: 14px
		line-height: 16px
		letter-spacing: 1px
	&__nav
		display: none
		@media(min-width:$xl)
			display: block
			padding: 12px 30px
			border-top: 1px solid var(--gray)
			border-bottom: 1px solid var(--gray)
	&__nav-list
		@media(min-width:$xl)
			display: flex
			justify-content: space-between
			align-items: center
	&__nav-li
		&:hover
			& .header__nav-link
				color: var(--orange)
		&.contains
			position: relative
			padding-right: 11px
			&:after
				content: url('../img/nav-arrow.svg')
				width: 6px
				height: 5px
				display: flex
				justify-content: center
				align-items: center
				position: absolute
				top: 50%
				right: 0
				transform: translate(0,-100%)
			@media(min-width:$xl)
				position: relative
				&:hover
					& .header__controls-tooltip
						display: block
						&:before
							display: none
	&__nav-link
		font-weight: 300
		font-size: 13px
		line-height: 15px
		letter-spacing: 1px
		text-transform: uppercase
		&:hover
			color: var(--orange)
	&__menu
		background-color: var(--black)
		padding: 15px 0
		@media(min-width:$xl)
			display: none
	&__menu-fix-cont
		display: flex
		justify-content: space-between
		align-items: center
		position: relative
	&__menu-call
		width: 190px
		height: 38px
		@media(min-width:$md)
			width: 200px
	&__menu-burger

	&__menu-burger-icon
		width: 30px
		height: 30px
		object-fit: contain
	&__menu-tooltip

.white-btn

.menu-tooltip
	padding: 15px
	background-color: var(--gray2)
	position: absolute
	transform: translateY(100%)
	z-index: 20
	display: none
	height: fit-content
	overflow-y: auto
	z-index: 50
	width: 100vw
	bottom: -15px
	right: 0
	@media(min-width:$md)
		width: 240px
		transform: translate(0,100%)
	&.open
		display: block
		@media(min-width:$xl)
			display: none
	&__links

	&__li
		margin-bottom: 15px
		&.hidden
			display: none
		&.contains.open
			position: relative
			padding-left: 20px
			&:before
				content: url(../img/mob-list-arrow.svg)
				position: absolute
				top: 0
				left: 0
				width: 10px
				height: 9px
			& .subtooltip
				display: block
	&__link
		display: block
		font-weight: 300
		font-size: 14px
		line-height: 16px
		letter-spacing: 1px
	&__link, &__contact-link
		display: flex
		align-items: center
	&__contacts
		padding-top: 14px
		border-top: 1px solid var(--gray)
	&__contact
		margin-bottom: 10px
	&__contact-link
		font-weight: 300
		font-size: 12px
		line-height: 140%
		& strong
			margin-right: 5px
	&__icon
	&__icon, &__work-hours-icon
		width: 19px
		height: 19px
		object-fit: contain
		margin-right: 7px
		display: flex
		justify-content: center
		align-items: center
	&__work-hours
		display: flex
		align-items: center
		margin-top: 15px
	&__work-hours-icon
	&__work-hours-list

	&__work-hours-li
		font-weight: 300
		font-size: 12px
		line-height: 140%

.subtooltip
	margin-top: 20px
	display: none
	&__li
		margin: 15px 0
		&.ender
			margin-top: 30px
	&__a
		font-weight: 300
		font-size: 12px
		line-height: 14px
		text-transform: uppercase


.header-fix
	display: none
	width: 100%
	height: 70px
	background-color: var(--white)
	position: fixed
	top: 0
	left: 0
	z-index: 30
	box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.07)
	&.active
		display: block
	&__burger-btn
		width: 30px
		height: 30px
		@media(min-width: $xl)
			display: none
	&__burger-icon
		width: 100%
		height: 100%
		object-fit: contain
	& .header__controls-logo
		width: 100%
		height: 100%
		object-fit: contain
	& .header__controls-home-link
		width: 27px
		height: 55px
		margin-left: 20px
		@media(min-width:$md)
			width: 32px
			height: 65px
			margin-left: 30px
		@media(min-width:$xl)
			margin-left: 0
	& .header__controls
		align-items: center
		justify-content: flex-start
		padding-bottom: 5px
		@media(min-width:$xl)
			justify-content: space-between
	& .header__controls-list
		margin-left: auto
		margin-top: 0
		@media(min-width:$xl)
			margin-left: 0
	& .header__controls-li:not(:last-child)
		margin-right: 20px
		@media(min-width:$md)
			margin-right: 30px
	& .header__controls-li
		width: 30px
		height: 30px
		@media(min-width:$md)
			width: auto
			height: auto
	& .header__controls-icon
		width: 30px
		height: 30px
		@media(min-width:$md)
			width: 24px
			height: 24px
	& .header__controls-name
		display: none
		@media(min-width:$md)
			display: inline
	& .menu-tooltip
		left: 0
		bottom: 0
		height: calc(100vh - 70px)
		overflow: auto
		z-index: 30
	@media(min-width:$xl)
		& .header__nav
			padding: 0 20px 0 20px
			border: none
		& .header__nav-list
			width: 100%
		& .header__nav-li + .header__nav-li
			margin-left: 40px

		& .header__nav-list
			justify-content: center
		& .header__nav-li.contains
			padding-right: 10px