.category-line
	&__fix-cont

	&__category-card

	&.three
	&.four

	& .category-card
		&__header
			position: relative
			display: flex
			justify-content: center
			&:before
				content: ''
				width: 100%
				height: 1.5px
				background-color: var(--black10)
				position: absolute
				top: 50%
				left: 0
		&__title
			background-color: var(--black)
			color: var(--gray2)
			font-size: 15px
			line-height: 17px
			text-align: center
			width: 170px
		&__ph

		&__subtitle

		&__description

		&__more

		&__all
